
<div class="loginForm">

  <h1>Welcome to IronFitness</h1>
 <p>Create your individual training plan and share it with the community! </p>
 
   <div class="logIn">

<form id="form" action="/auth/login" method="POST">
<img class="logAvatar" src="../images/Login2.png" alt="Avatar">
 <input class="logInput" type="text" name="username" placeholder="Username" /> 
 <input class="logInput" type="password" name="password" placeholder="Password" />   
  
  {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
  {{/if}}  
<br>
  <button class="logInput" type="submit">Log in</button>

<button class="logInput"><a href="/auth/signup">Sign Up</a></button>
<br>
 <a class="gitAvatar" href="/auth/github">Login via Github</a>
  </form>
  </div>
</div>
  