<h2>Add a new Workout</h2>

<form action="/workouts/new" method="POST"\>
  <label for="exercise">Exercise</label> 
  <input id="exercise" type="text" name="exercise">
  
  <label for="difficulty">Difficulty</label> 
  <input id="difficulty" type="text" name="difficulty">
  
  <label for="repetitions">repetitions</label> 
  <input id="repetitions" type="number" name="repetitions">
  
    <label for="muscle">Muscle</label> 
    <input id="muscle" type="text" name="muscle">

    <label for="description">Description</label> 
     <input id="description" type="text" name="description">


  <button type="submit">Add</button>
</form>



