

  <div class="viewForm bgNew">

    <h1>Add a new Exercise</h1>
    <div  class="newContainer">

<form action="/workouts/new" method="POST"\>


  <p> Please Typ the name of your Exercis </p>
  <input class="newInpurt" id="exercise" type="text" name="exercise" placeholder="Exercise">
  <div>  

<div>
  <p>Make it easy for the others and set the difficulty</p>
  <label class="labelw" for="difficulty">Difficulty</label> 
<select id="difficulty" name="difficulty" form="difficulty">
  <option value="easy">easy</option>
  <option value="medium">medium</option>
  <option value="hard">hard</option>
</select>
</div>
  

  <div>
     <input class="newInpurt" id="repetitions" type="number" name="repetitions" placeholder="Repetitions">
  </div>

  <div>
  <p> Enter which muscle group is being used </p>
    <label class="labelw"  for="muscle">Workout-type</label> 
    <select id="difficulty" name="difficulty" form="difficulty">
    <option value="chest">Chest</option>
    <option value="arms">Arms</option>
    <option value="upper-back">Upper-back</option>
    <option value="lower-back">Lower-back</option>
    <option value="ABS">ABS</option>
    <option value="legs">Legs</option>
    <option value="calves">Calves</option>
    </select>
    </div>

    <div>
     <input  class="newInpurt" id="description" type="text" name="description" placeholder="Description">
    </div>

  <button class="addButton" type="submit">Add</button>
</form>

</div>
</div>