

  <div class="viewForm bgNew">

    <h1>Add a new Exercise</h1>
    <div  class="newContainer">

<form action="/workouts/new" method="POST"\>


  <p> Please Type the Name of your Exercise </p>
  <input class="newInpurt" id="exercise" type="text" name="exercise" placeholder="Exercise">
  <div>  

<div>
  <p>Set the difficulty for others </p>
  <label class="labelw" for="difficulty">Difficulty</label> 
<select id="difficulty" name="difficulty" form="difficulty">
  <option value="easy">Easy</option>
  <option value="medium">Medium</option>
  <option value="hard">Hard</option>
</select>
</div>
  

  <div>
     <input class="newInpurt" id="repetitions" type="number" name="repetitions" placeholder="Repetitions">
  </div>

  <div>

  <p> Enter which Muscle Group is engaged </p>
  
    <label class="workoutType" for="muscle">Muscle-Group</label> 

    <select id="difficulty" name="difficulty" form="difficulty">
    <option value="chest">Chest</option>
    <option value="arms">Arms</option>
    <option value="upper-back">Upper-back</option>
    <option value="lower-back">Lower-back</option>
    <option value="ABS">ABS</option>
    <option value="legs">Legs</option>
    <option value="calves">Calves</option>
    </select>
    </div>

    <div>
     <input  class="newInpurt" id="description" type="text" name="description" placeholder="Description">
    </div>

  <button class="addButton" type="submit">Add</button>
</form>

</div>
</div>