<p></p>


<h1>Welcome to IronFitness</h1>
<p> Welcome {{#if user}}{{user.username}}{{/if}} </p>
<p>Sign up for free and create your own workout, get inspired by others and motivate yourself!</p>
{{#each user.list}}
   <a href="/workouts/{{this.id}}"> <p>{{this.exercise}}</p></a>
{{/each}}
<a href="/auth/logout">Logout</a>

p