<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>



<!-- if login - login and singin  -->
<!-- if user -show navBar -->
    

    <div class="navbar">
      <a href="/">Home</a>
      <a href="/workouts">Workouts</a>  
      <a href="/new">Add-Workouts</a>
    </div>


    {{{body}}}

  </body>
</html>
